* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: wheat;
}
.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}
.for_input {
  display: block;
}
.hide {
  display: none;
}
.baground_circle {
  border-radius: 50%;
  background-color: rgb(219, 165, 15);
}
