.container {
  position: relative;
  display: inline-block;
  cursor: move;
  margin: 0 auto;
}

.item {
  position: absolute;
  width: 480px;
  height: 270px;
  display: block;
}
.resizer {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: brown;
  z-index: 10;
}
.topLeft {
  top: -1px;
  left: -1px;
  cursor: se-resize;
}
.topRight {
  top: -1px;
  right: -1px;
  cursor: sw-resize;
}
.bottomRight {
  bottom: -1px;
  right: -1px;
  cursor: nw-resize;
}
.bottomLeft {
  bottom: -1px;
  left: -1px;
  cursor: ne-resize;
}
